# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
starbelly/.next/
starbelly/out/

# Production build
starbelly/build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# TypeScript
*.tsbuildinfo
starbelly/next-env.d.ts
